<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp.Properties.Settings.usersConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\users.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp.Properties.Settings>
            <setting name="radioButton1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textbox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUsername" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp.Properties.Settings>
        <WindowsFormsApp.Settings1>
            <setting name="checkbox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButton4" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApp.Settings1>
    </userSettings>
</configuration>